*{
    margin:0;
    padding:0;
}


.blockk{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
    
}

.bild{
    background-image: url('iconmonstr-book-25.svg');
    background-repeat: no-repeat;
}

.bild2{
    background-image: url('iconmonstr-sound-wave-1.svg');
    background-color: rgb(224, 214, 210);
    background-repeat: no-repeat;
}

.bild3{
    background-image: url('iconmonstr-video-9.svg');
    background-color: rgb(224, 214, 210);
    background-repeat: no-repeat;
} 

.table-bordered {
    height:300px;
    width: 400px;
    padding: 50px;
    background-color: rgb(224, 214, 210);
}

.blockk {
