*{
    margin:0;
    padding:0;
    
}

.box1,
.box2,
.box3{
    display: flex;
    flex-flow: column;
}

.block{
    display: flex;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-gap: 10px;;
    display: flex;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-gap: 10px;
    flex-direction: column;
}

.bild{
    background-image: url('iconmonstr-book-25.svg');
    background-repeat: no-repeat;
}

.bild2{
    background-image: url('iconmonstr-sound-wave-1.svg');
    background-color: rgb(224, 214, 210);
    background-repeat: no-repeat;
}

.bild3{
    background-image: url('iconmonstr-video-9.svg');
    background-color: rgb(224, 214, 210);
    background-repeat: no-repeat;
} 

.table-bordered {
    height:300px;
    width: 400px;
    padding: 10px;
    background-color: rgb(224, 214, 210);
}

