*{
    margin:0;
    padding:0;
}

.box1,
.box2,
.box3 {
    display: block;
    width:auto;
    background-color: red;
}

.box1{
    background-image: url('iconmonstr-book-25.svg');
    background-repeat: no-repeat;
}

.box2{
    background-image: url('iconmonstr-sound-wave-1.svg');
    background-repeat: no-repeat;
}

.box3{
    background-image: url('iconmonstr-video-9.svg');
    background-repeat: no-repeat;
}