*{
  
  font-family: system-ui, sans-serif;
}

body{
  background-color: rgb(156, 173, 231);
}

/* Bordered form */
form {
  background-color: rgb(53, 85, 145);
  padding: 50px;
  border-radius: 10px;
}
  
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}


[type="submit"],
[type="button"]{
  background-color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 2px;
  border:none;
}

/* Add a hover effect for buttons */
[type="submit"]:hover, [type="button"]:hover {
  background-color: rgb(216, 216, 216);
}

.block {
  position: absolute;
  top: 40%;
  width:500px;
  border-radius: 15px;
  box-shadow: rgb(49, 64, 153) 0 8px 10000px;
  border-style: groove;
}

.block2{
  display: flex;
  justify-content: center;
}

.rubrik{
  position: absolute;
  top: 20%;
  text-align: center;
  font-size: 50px;
  color: white;
  z-index: 3;
}

.text{
  color:white;
}