*{
  margin:0;
  padding:0;
  font-family: system-ui, sans-serif;
}

body{
  background-color: rgb(231, 231, 231);
}

/* Bordered form */
form {
  justify-content: center;
  background-color: rgb(199, 199, 199);
  padding: 50px;
  border-radius: 10px;
  width:400px;
  box-shadow: rgb(116, 116, 116) 5px 5px 8px;
}

input {
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
}
  
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}


[type="submit"],
[type="button"]{
  background-color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 30px;
  border:none;

}

[type="submit"] {
  width: 100%;
  background: linear-gradient( right, rgb(255, 51, 51), rgb(120, 60, 177));
}

/* Add a hover effect for buttons */
[type="submit"]:hover, [type="button"]:hover {
  background-color: rgb(216, 216, 216);
}

.block {
  position: absolute;
  top: 20%;
  border-radius: 15px;

}

.block2{
  display: flex;
  justify-content: center;
}

.block { 
  display: flex;
  justify-content: center;
}

.rubrik {
  font-size: 80px;
  background: -webkit-linear-gradient(rgb(255, 51, 51), rgb(120, 60, 177));

  -webkit-text-fill-color: transparent;
}

.text{
  color:white;
}

a {
  align-items: center;
  color: black;
  text-decoration: none;
}