*{
    background-color: rgb(231, 231, 231);
    font-family: system-ui, sans-serif;
}

.text {
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 100px;

}

.usertext {
    position: relative;
    top: 30%;
    text-align: center;
    color: rgb(180, 29, 29);
    font-size: 100px;

}

